@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


:root{
  --color-grey:#23373E;
  --color-pink:#F45165;
  --color-green:#45E6A1;
  --color-yellow:#EEB600;
  --color-white:#fff;
  --color-lightgrey:#5F6981;

  --color-black:#222;

  --goo-blue:#1a0dab;
  --goo-green:#006621;
  --goo-grey:#545454;

  --max-width:1200px;


  /* font */

  --font-roboto: 'Roboto', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-nanum: 'Nanum Gothic', sans-serif;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-lato);
  box-sizing: border-box;
}
ol, ul, li {
	list-style: none;
}
a{
  text-decoration:none;
  color: #222;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button{
  outline-width: 0;
  border:none;
  cursor: pointer;
}
input{
  border: none;
}

